<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
            <div class="page__body">
                <%- include('block/info') %>
            </div>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>